# 점프 투 파이썬 실습

## 1일 문장 입력

In [ ]:
head = "python"
tail = " is fun!"
head + tail

'python is fun!'

In [ ]:
a = "Python"
a * 2

'PythonPython'

In [ ]:
a = "life is too short"
len(a)

17

In [ ]:
a = "Life is too short, you need python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [ ]:
a = "20230331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year)
print(day)
print(weather)

2023
0331
Rainy

In [ ]:
a = "Pithon"
a[:1]
a[2:]

'thon'

In [ ]:
a[:1] + 'y' + a[2:]

'Python'

## 2일차 문자열 포매팅

### 숫자 바로 대입

In [ ]:
"I eat %d apples." % 3

'I eat 3 apples.'

### 문자열 바로 대입

In [ ]:
"I eat %s apples." % "five"

'I eat five apples.'

### 숫자 값을 나타내는 변수로 대입

In [ ]:
number = 3
"I eat %d apples."  % number

'I eat 3 apples.'

### 2개 이상의 값 넣기

In [ ]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %( number, day)

'I ate 10 apples. so I was sick for three days.'

## 문자열 포맷 코드

### 포매팅 연사자 %d 와 %를 같이 쓸 때는 %%를 쓴다

In [ ]:
"Error is %d%%" % 98

'Error is 98%'

## 포맷 코드와 숫자 함께 사용하기

### 정렬과 공백

In [ ]:
"%10s" % "hi"

'        hi'

In [ ]:
"%-10sjane." % 'hi'

'hi        jane.'

### 소수점 표현하기

In [ ]:
"%0.4f" % 3.141592

'3.1416'

In [ ]:
"%10.4f" % 3.141592

'    3.1416'

## format 함수를 사용한 포매팅

### 숫자 바로 대입하기

In [ ]:
"I eat {0} apples".format(3)

'I eat 3 apples'

### 문자열 바로 대입하기

In [ ]:
"I eat {0} apples".format("five")

'I eat five apples'

### 숫자 값을 가진 변수로 대입하기

In [ ]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

### 2개 이상의 값 넣기

In [ ]:
number = 10
dat = "three"
"I ate {0} apples. so I was sick for {1} days".format(number, day)

'I ate 10 apples. so I was sick for three days'

### 이름으로 넣기

In [ ]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

### 인덱스와 이름을 혼용해서 넣기

In [ ]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

### 왼쪽 정렬

In [ ]:
"{0:<10}".format("hi")

'hi        '

### 오른쪽 정렬

In [ ]:
"{0:>10}".format("hi")

'        hi'

### 가운데 정렬

In [ ]:
"{0:^10}".format("hi")

'    hi    '

### 공백 채우기

In [ ]:
"{0:=^10}".format("hi")

'====hi===='

In [ ]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

### 소수점 표현하기

In [ ]:
y = 3.141592
"{0:0.4f}".format(y)

'3.1416'

In [ ]:
"{0:10.4f}".format(y)

'    3.1416'

### {또는}문자 표현하기

In [ ]:
"{{ and }}".format()

'{ and }'

## f 문자열 포매팅

In [ ]:
name = '홍길동' 
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [ ]:
age = 30
f'나는 내년이면 {age+1}입니다'

'나는 내년이면 31입니다'

In [ ]:
d = {'name':'홍킬동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다'

'나의 이름은 홍킬동입니다. 나이는 30입니다'

In [ ]:
f'{"hi":<10}'

'hi        '

In [ ]:
f'{"hi":>10}'

'        hi'

In [ ]:
f'{"hi":^10}'

'    hi    '

In [ ]:
f'{"hi":=^10}'

'====hi===='

In [ ]:
f'{"hi":!^10}'

'!!!!hi!!!!'

In [ ]:
y = 3.141592
f'{y:0.4f}'

'3.1416'

In [ ]:
f"{{ and }}"

'{ and }'

## 문자열 관련 함수들

### 문자 개수 세기-count

In [ ]:
a = "hobby"
a.count('b')

2

### 위치 알려주기1 -find

In [ ]:
a = "Python is the best choice"
a.find('b')

14

In [ ]:
a.find('k')

-1

### 위치 알려주기2 -index

In [ ]:
a = "Life is too short"
a.index('t')

8

In [ ]:
a.index('k')
# 문자에 k가 없어서 오류발생생

ValueError: substring not found

### 문자열 삽입 -join

In [ ]:
",".join('abcd')

'a,b,c,d'

### 소문자를 대문자로 바꾸기

In [ ]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

## 리스트의 인덱싱

In [ ]:
a = [1,2,3]

In [ ]:
a

[1, 2, 3]

In [ ]:
a[0]

1

In [ ]:
a[0] + a[2]

4

In [ ]:
a[-1]

3

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [ ]:
a[0]

1

In [ ]:
a[-1]

{'a', 'b', 'c'}

In [ ]:
a[3]

{'a', 'b', 'c'}

In [ ]:
a[-1][1]

'b'

In [ ]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]

In [ ]:
a[2][2][0]

'Life'

## 리스트의 슬라이싱

In [ ]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [ ]:
a = "12345"
a[0:2]

'12'

In [ ]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]

In [ ]:
b

[1, 2]

In [ ]:
c

[3, 4, 5]

### 중첩된 리스트에서 슬라이싱 하기

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [ ]:
a[3][:2]

['a', 'b']

## 리스트 연산하기

### 리스트 더하기 [+]

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

### 리스트 반복하기

In [ ]:
a = [1, 2 ,3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 리스트 길이 구하기

In [ ]:
a = [1, 2, 3]
len(a)

3

## 리스트 수정과 삭제

### 리스트의 값 수정하기

In [ ]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

### DEL 함수를 사용해 리스트 요소 삭제하기

In [ ]:
a = [1, 2 , 4]
del a[1]
a

[1, 4]

In [ ]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

## 리스트 관련 함수

### 리스트에 요소 추가하기 -append

In [ ]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [ ]:
a.append({5, 6})
a

[1, 2, 3, 4, {5, 6}]

### 리스트에 정렬 -sort

In [ ]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [ ]:
a = ['a', 'b', 'c']
a.sort()
a

['a', 'b', 'c']

### 리스트 뒤집기 -reverse

In [ ]:
a = ['a', 'b', 'c']
a.reverse()
a

['c', 'b', 'a']

### 인덱스 변환 -index

In [ ]:
a = [1, 2, 3]
a.index(3)

2

In [ ]:
a.index(1)

0

### 리스트에 요소 삽입 - insert

In [ ]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [ ]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

### 리스트 요소 제거 -remove

In [ ]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [ ]:
a.remove(3)
a

[1, 2, 1, 2]

### 리스트 요소 끄집어 내기 -pop

In [ ]:
a = [1, 2, 3]
a.pop()

3

In [ ]:
a

[1, 2]

In [ ]:
a = [1, 2, 3]
a.pop(1)

2

In [ ]:
a

[1, 3]

### 리스트에 포함된 요소 x의 개수 세기 -count

In [ ]:
a = [1, 2, 3, 1]
a.count(1)

2

### 리스트에 확장 -extend

In [ ]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

## 딕셔너리 쌍 추가, 삭제하기

### 딕셔너리 쌍 추가하기

In [ ]:
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [ ]:
a ['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [ ]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 딕서너리 요소 삭제하기기

In [ ]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 딕셔너리 사용 방법

#### 딕서너리 key 사용해서 value 얻기

In [ ]:
grade = {'pey': 10, 'julliet': 99}
grade['pey']

10

In [ ]:
grade['julliet']

99

In [ ]:
a = {1: 'a', 2: 'b'}
a[1]

'a'

In [ ]:
a[2]

'b'

In [ ]:
a = {'a': 1,'b': 2}
a[ 'a' ]

1

In [ ]:
a ['b']

2

In [ ]:
dic = {'name':'pey', 'phone':'010-9999-1234','birth': '1118'}
dic['name']

'pey'

In [ ]:
dic['phone']

'010-9999-1234'

In [ ]:
dic['birth']

'1118'

### 딕셔너리 관련 함수

#### key 리스트 만들기 -keys

In [ ]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [ ]:
list(a.keys())

['name', 'phone', 'birth']

In [ ]:
a.values()

dict_values(['pey', '010-9999-1234', '1118'])

In [ ]:
a.items()

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [ ]:
a.clear()
a

{}

In [ ]:
a = {'name': 'pey', 'phone':'010-9999-1234', 'birth': '1118'}
a.get('name')
a.get('phone')

'010-9999-1234'

In [ ]:
'name' in a

True

## 집합 자료형

### 집합 자료형 만들기

In [ ]:
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [ ]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [ ]:
s1 = set([1, 2, 3])
l1 = list(s1)
l1
t1 = tuple(s1)
t1

(1, 2, 3)

### 교집합, 합집합, 차집합 구하기

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

#### 교집합 구하기기

In [ ]:
s1 & s2

#s1.intersection(s2)

{4, 5, 6}

### 합집합 구하기

In [ ]:
s1 | s2

#s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 차집합 구하기기

In [ ]:
s1 - s2

#s1.difference(s2)

{1, 2, 3}

In [ ]:
s2 - s1

#s2.difference(s1)

{7, 8, 9}

## 집합 자료형 관련 함수

### 값 1개 추가하기 -add

In [ ]:
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

### 값 여러개 추가하기 -update

In [ ]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

### 특정 값 제거하기 - remove

In [ ]:
s1 = set ([1, 2, 3])
s1.remove(2)
s1

{1, 3}

## 불자료형

### 불자료형 만들기

In [ ]:
a = True
b = False

In [ ]:
type(a)

bool

In [ ]:
type(b)

bool

In [ ]:
1 == 1

True

In [ ]:
2 > 1

True

In [ ]:
2 < 1

False

In [ ]:
a = [1, 2, 3, 4]
while a:
    print(a.pop())

4
3
2
1

In [ ]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [ ]:
if [1, 2, 3]:
    print("참")
else:
    print("거짓")

참

## 되새김문제

#### 평균 점수 구하기

In [ ]:
a = 80 
b = 75
c = 55
P = ( a + b +c )/ 3
print(P)

70.0

### 홀수,짝수 판별하기

In [ ]:
13 % 2

1

### 주민등록 번호 나누기

In [ ]:
pin = "881120-1068234"
yymmdd = pin[:6]
num = pin[7:]
print(yymmdd)
print(num)

881120
1068234

### 주민등록번호 인덱싱

In [ ]:
pin = "881120-1068234"
print(pin[7])

1

### 문자열 바꾸기

In [ ]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

### 리스트 역순 정렬하기

In [ ]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

### 리스트를 문자열로 만들기

In [ ]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

### 듀플 더하기

In [ ]:
a = (1, 2, 3)
a = a + (4, )
print(a)

(1, 2, 3, 4)

### 딕셔너리 값 추출하기

In [ ]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

### 리스트에서 중복 제거하기

In [ ]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = set(a)
print(b)

{1, 2, 3, 4, 5}

In [ ]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

## if 문

### 조건문

In [ ]:
money = 2000
if money >= 3000:
    print("택시타고 가라")
else:
    print("걸어가라")

걸어가라

### and, or ,not

In [ ]:
money = 2000
card = True
if money >= 3000 or card:
    print("택시 타고 가라")
else:
    print("걸어가라")

택시 타고 가라

### in, not in

In [ ]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print("택시 타고 가라")
else:
    print("걸어가라")

택시 타고 가라

In [ ]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
    pass
else:
    print("카드를 꺼내라")

### 다양한 조건을 판단하는 elif

In [ ]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print("택시를 타고 가라")
else:
    if card:
        print("택시를 타고가라")
    else:
        print("걸어가라")

택시를 타고가라

In [ ]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print("택시를 타고 가라")
elif card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

### 조건부 표현식

In [ ]:
num = 70
if score >= 60: # type: ignore
    messege = "success"
else:
    message = "failure"

## while 문

In [ ]:
treeHit = 0
while treeHit <10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무가 넘어갑니다")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다

### while 문 강제로 빠져나가기

In [ ]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다")
    coffee = coffee -1
    print("남은 커피의 양은 %d개 입니다" % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다.판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다
남은 커피의 양은 9개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 8개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 7개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 6개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 5개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 4개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 3개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 2개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 1개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 0개 입니다
커피가 다 떨어졌습니다.판매를 중지합니다.

In [ ]:
coffee = 10
while True:
    money = int(input("돈을 넣어 주세여: "))
    if money == 300:
        print("커피를 줍니다")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다")
        print("남은 커피의 양은 %d개입니다" % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 다시 돌려주고 커피를 주지 않습니다
남은 커피의 양은 10개입니다
커피를 줍니다
돈을 다시 돌려주고 커피를 주지 않습니다
남은 커피의 양은 9개입니다
돈을 다시 돌려주고 커피를 주지 않습니다
남은 커피의 양은 9개입니다
돈을 다시 돌려주고 커피를 주지 않습니다
남은 커피의 양은 9개입니다
돈을 다시 돌려주고 커피를 주지 않습니다
남은 커피의 양은 9개입니다
돈을 다시 돌려주고 커피를 주지 않습니다
남은 커피의 양은 9개입니다
거스름돈 200를 주고 커피를 줍니다.
거스름돈 200를 주고 커피를 줍니다.
거스름돈 100를 주고 커피를 줍니다.
커피를 줍니다
커피를 줍니다
커피를 줍니다
거스름돈 30를 주고 커피를 줍니다.

ValueError: invalid literal for int() with base 10: ''

### while 문의 맨처음으로 돌아가기

In [ ]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

## for 문

In [ ]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

### 다양한 for 문의 사용

In [ ]:
a = [(1, 2), (3, 4),(5, 6)]
for (first, last) in a:
    print(first + last)

3
7
11

### for 문의 응용

In [ ]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다" % number)
    else:
        print("%d번 학생은 불합격입니다"% number)

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 불합격입니다
5번 학생은 합격입니다

In [ ]:
arks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number + 1
    if mark < 60: continue
    print ("%d번 학생 축하합니다. 합격입니다" % number)

1번 학생 축하합니다. 합격입니다
3번 학생 축하합니다. 합격입니다
5번 학생 축하합니다. 합격입니다

### range함수의 예시 살펴보기

In [ ]:
add = 0
for i in range(1, 11):
    add = add + i 

print(add)

55

In [ ]:
# range(len(marks))
marks = [90 , 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number + 1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

### for 와 range를 이용한 구구단

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
         print(i*j, end=" ")
    print(' ')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

### 리스트 컴프리헨션 사용하기

In [ ]:
a = [1, 2, 3, 4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [ ]:
a = [1, 2, 3, 4]
result = [num*3 for num in a if num%2 ==0]
print(result)

[6, 12]

In [ ]:
result = [x*y for x in range (2, 10)
          for y in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 되새김 문제

### 조건문의 참과 거짓

In [ ]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt"not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

### 3의 배수의 합 구하기

In [ ]:
result = 0 
i = 1
while i <= 1000:
    if i%3 == 0:
        result += i
    i += 1
print(result)

166833

### 별 표시하기

In [ ]:
i = 0
while True:
    i += 1
    if i>5 :break
    print('*'* i)

*
**
***
****
*****

### 1부터 100까지 출력하기

In [ ]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

### 평균 점수 구하기

In [ ]:
A = [70, 90, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score
average = total/ len(A)
print(average)

82.0

### 리스트 컴프리헨션 사용하기

In [ ]:
#numbers = [1, 2, 3, 4, 5]
#result = []
#for n in numbers:
#    if n % 2 == 1:
#        result.append(n * 2)

numbers = [1, 2, 3, 4, 5]
result =[n*2 for n in numbers if n%2 == 1] 
print(result)

[2, 6, 10]

# 2일차 마무리!!!!

## 3일차

In [ ]:
def say():
    return "Hi"

In [ ]:
a = say()
print(a)

Hi

In [ ]:
def add_many(*args):
    result = 0
    for i in args:
        result += i
    return result

In [ ]:
result = add_many(1, 2, 3, 4, 5)
print(result)

15

In [ ]:
def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result += i
    elif choice == "mul":
        result = 1
        for i in args:
            result *= i
    return result

In [ ]:
result = add_mul('add', 1, 2, 3, 4, 5)
print(result)

15

In [ ]:
def print_kwargs(**kwargs):
    print(kwargs)

In [ ]:
print_kwargs(a=1)

{'a': 1}

In [ ]:
print_kwargs(name='foo', age=3)

{'name': 'foo', 'age': 3}

In [ ]:
def say_myself(name, age, man=True):
    print("나의 이름은 %s입니다." % name)
    print("나의 나이는 %d입니다." % age)
    if man:
        print("남자입니다")
    else:
        print("여자입니다")

In [ ]:
say_myself("박응용", 274, True)

나의 이름은 박응용입니다.
나의 나이는 274입니다.
남자입니다

In [ ]:
a = 1
def vartest(a):
    a = a + 1
    return a

a = vartest(a)
print(a)

2

In [ ]:
add = lambda a, b: a + b
result = add(3, 4)
print(result)

7

### 사용자 입출력

In [ ]:
a = input()

In [ ]:
a

'Life is short, you need python'

### 파일 읽고 쓰기

In [ ]:
f = open("새파일.txt", 'w')
f.close()

In [ ]:
f = open("C:/Users/cl/새파일.txt", 'w')
f.close()

In [ ]:
f = open("C:/Users/cl/새파일.txt", 'w')
for i in range(1, 11):
    data = "%d번쨰 줄입니다.\n" % i
    f.write(data)
f.close()

In [ ]:
f = open("C:/Users/cl/새파일.txt", 'r')
line = f.readline()
print(line)
f.close()

1번쨰 줄입니다.

In [ ]:
f = open("C:/Users/cl/새파일.txt", 'r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

1번쨰 줄입니다.

2번쨰 줄입니다.

3번쨰 줄입니다.

4번쨰 줄입니다.

5번쨰 줄입니다.

6번쨰 줄입니다.

7번쨰 줄입니다.

8번쨰 줄입니다.

9번쨰 줄입니다.

10번쨰 줄입니다.

In [ ]:
f = open("C:/Users/cl/새파일.txt", 'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

1번쨰 줄입니다.

2번쨰 줄입니다.

3번쨰 줄입니다.

4번쨰 줄입니다.

5번쨰 줄입니다.

6번쨰 줄입니다.

7번쨰 줄입니다.

8번쨰 줄입니다.

9번쨰 줄입니다.

10번쨰 줄입니다.

In [ ]:
f = open("C:/Users/cl/새파일.txt", 'a')
for i in range(11, 20):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

### 프로그램의 입출력

In [ ]:
import sys

args = sys.argv[1:]
for i in args:
    print(i)

--arg1=value1
--arg2=value2

In [ ]:
import sys
args = sys.argv[1:]
for i in args:
    print(i.upper(), end=' ')

--ARG1=VALUE1 --ARG2=VALUE2

## 되새김 문제

### 홀수,짝수 판별하기

In [ ]:
def is_odd(number):
    if number%2 == 1:
        return True
    else:
        return false # type: ignore

### 모든 입력의 평균값 구하기

In [ ]:
def avg_numbers(*args):
    result = 0
    for i in args:
        result += i
    return result / len(args)

In [ ]:
avg_numbers(1, 2)

1.5

### 프로그램 오류 수정하기 1

In [ ]:
input1 = input("첫번째 숫자를 입력하세요: ")
input2 = input("두번째 숫자를 입력하세여: ")

#total = input1 + input2

total = int(input1) + int(input2)
print(" 두 수의 합은 %s입니다." % total)

 두 수의 합은 9입니다.

### 프로그램 오류 수정하기 2

In [ ]:
f1 = open("test.txt", 'w')
f1.write("Life is too short, you need python")
f1.close()

f2 = open("test.txt", 'r')
print(f2.read())
f2.close()

Life is too short, you need python

### 사용자 입력 저장하기

In [ ]:
user_input = input("저장할 내용을 입력하세요: ")
f = open('test.txt', 'a')
f.write(user_input)
f.write("\n")
f.close()

### 파일의 문자열 바꾸기

In [ ]:
f = open('test.txt', 'r')
body = f.read()
f.close()
body = body.replace("java", "python")
f = open('test.txt', 'w')
f.write(body)
f.close()

### 입력값 모두 더해 출력하기

In [ ]:
import sys

sys.argv = ['notebook', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

numbers = sys.argv[1:]

result = 0
for number in numbers:
    result += int(number)
print(result)

55

## 클래스

In [ ]:
result =0

def add(num):
    global result
    result += num
    return result

In [ ]:
print(add(3))

3

In [ ]:
print(add(4))

7

In [ ]:
result1 = 0
result2 = 0
def add1(num):
    global result1
    result1 += num
    return result1

def add2(num):
    global result2
    result2 += num
    return result2

print(add1(3))
print(add1(4))
print(add2(3))
print(add2(7))

3
7
3
10

In [ ]:
class Calculator:
    def __init__(self):
        self.result = 0

    def add(self, num):
        self.result += num
        return self.result
cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

3
7
3
10

### 클래스와 객체

In [ ]:
class Cookie: pass
a = Cookie()
b = Cookie()

### 객체에 연산할 숫자 지정하기

In [ ]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result   
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [ ]:
a = FourCal()

In [ ]:
b = FourCal()

In [ ]:
a.setdata(4, 2)

In [ ]:
b.setdata(3, 8)

In [ ]:
a.add()

6

In [ ]:
class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):  
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):          
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [ ]:
a = FourCal(4, 2)

In [ ]:
a.first

4

In [ ]:
a.add()

6

In [ ]:
class MoreFourCal(FourCal):
    pass

In [ ]:
a = MoreFourCal(4, 2)

In [ ]:
a.add()

6

In [ ]:
a.mul()

8

In [ ]:
class MoreFourCal(FourCal):
    def pow(self):
        result = self.first ** self.second
        return result
    
a = MoreFourCal(4, 2)
print(a.pow())
print(a.add())

16
6

In [ ]:
class SafeFourCal(FourCal):
    def div(self):
        if self.second == 0:
            return 0
        else:
            return self.first / self.second

a = SafeFourCal(4, 0)
print(a.div())

In [ ]:
class family:
    lastname = "김"

In [ ]:
family.lastname

'김'

In [ ]:
a = family()
b = family()
a.lastname

'김'

In [ ]:
b. lastname

'김'

### 모듈

In [ ]:
def add(a, b):
    return a + b
def sub(a, b):
    return a - b

## 외부 라이브러리

In [ ]:
# pip install faker

from faker import Faker


fake = Faker('ko-KR')

# 이름 생성
print(fake.name())

# 주소 생성
print(fake.address())

# 전화번호 생성
print(fake.phone_number())

## 되새김 문제

### Q1 클래스 상속받고 매서드 추가하기

In [ ]:
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val

class UpgradeCalculator(Calculator):
    def minus(self, val):
        self.value -= val

# UpgradeCalculator 객체 생성
cal = UpgradeCalculator()

# 값 추가 및 빼기
cal.add(10)
cal.minus(7)

# 결과 출력
print(cal.value)

3

### Q2 클래스 상속받고 매서드 추가하기2

In [ ]:
class calculator():
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val


class  MaxLimitCalculator(calculator):
    def add(self, val):
        self.value += val
        if self.value >= 100:
            self.value = 100

cal = MaxLimitCalculator()
cal.add(50)
cal.add(60)

print(cal.value)

100

### Q3 참과 거짓 에측하기

In [ ]:
all([1, 2, abs(-3)-3])

False

### Q4 음수 제거하기

In [ ]:
list(filter(lambda x : x > 0, [1, -2, 3, -5, 8, -3]))

[1, 3, 8]

In [ ]:
int('0xea', 16)

234

### Q6 리스트 항목마다 3 곱하여 리턴하기

In [ ]:
list(map(lambda a : a*3, [1, 2, 3, 4]))

[3, 6, 9, 12]

### Q7 최댓값과 최솟값의 합합

In [ ]:
a = [-8, 2, 7, 5, -3, 5, 0, 1]
b = max(a) + min(a) 
print(b)

-1

### Q8 소수점 반올림 하기기

In [ ]:
# 17/3 = 5.6666666667

round(5.66666, 2)

5.67

### Q9 날짜 표시하기

In [ ]:
import time
T = time.strftime("%Y/%m/%d  %H:%M:%S")
print(T)

2025/04/03  14:32:53

### Q10 로또 번호 생성하기

In [ ]:
import random
result = []
while len(result) < 6:
    num = random.randint(1, 45)
    if num not in result:
        result.append(num)

print(result)

[15, 10, 8, 34, 36, 43]

### Q13 누나는 영철이보다 며칠 더 먼저 태어났을까?

In [ ]:
import datetime

sis = datetime.date(1995, 11, 20) # 누나의 생년월일
me = datetime.date(1998, 10, 6)  #영철이의 생년월일일
 
diff = me - sis
T = diff.days
print(T)

1051

### Q14 기록순으로 정렬하기

In [ ]:
from operator import itemgetter

data = [('윤서현', 15.25),        ('김예지', 13.31),        ('박예원', 15.34),
        ('송순자', 15.57),        ('김시우', 15.48),        ('배숙자', 17.9),        ('전정웅', 13.39),
        ('김혜진', 16.63),       ('최보람', 17.14),        ('한지영', 14.83),        ('이성호', 17.7),
        ('김옥순', 16.71),        ('황민지', 17.65),        ('김영철', 16.7),        ('주병철', 15.67),
        ('박상현', 14.16),        ('김영순', 14.81),        ('오지아', 15.13),        ('윤지은', 16.93),
        ('문재호', 16.39)
]

result = sorted(data, key=itemgetter(1))
print(result)

[('김예지', 13.31), ('전정웅', 13.39), ('박상현', 14.16), ('김영순', 14.81), ('한지영', 14.83), ('오지아', 15.13), ('윤서현', 15.25), ('박예원', 15.34), ('김시우', 15.48), ('송순자', 15.57), ('주병철', 15.67), ('문재호', 16.39), ('김혜진', 16.63), ('김영철', 16.7), ('김옥순', 16.71), ('윤지은', 16.93), ('최보람', 17.14), ('황민지', 17.65), ('이성호', 17.7), ('배숙자', 17.9)]

### Q15 청소 당번 두명 뽑기

In [ ]:
import itertools

students = ['나지혜', '성성민', '윤지현', '김정숙']
result = itertools.combinations(students, 2)
print(list(result))

[('나지혜', '성성민'), ('나지혜', '윤지현'), ('나지혜', '김정숙'), ('성성민', '윤지현'), ('성성민', '김정숙'), ('윤지현', '김정숙')]

### Q16  문자열 나열하기

In [ ]:
import itertools

a = list(itertools.permutations(['a', 'b', 'c', 'd'], 4))

a = [''.join(item) for item in a]
print(' '.join(a))

abcd abdc acbd acdb adbc adcb bacd badc bcad bcda bdac bdca cabd cadb cbad cbda cdab cdba dabc dacb dbac dbca dcab dcba

### Q17 5명에게 할일 부여하기

In [ ]:
import random
import itertools

students = ['김승현', '김진호', '강춘자', '이예준', '김현주']
jobs = ['청소', '빨래', '설거지']

shuffled_students = random.sample(students, len(students))
result = itertools.zip_longest(shuffled_students, jobs, fillvalue='휴식')
for r in result:
    print(r)

('강춘자', '청소')
('김진호', '빨래')
('김승현', '설거지')
('김현주', '휴식')
('이예준', '휴식')

### Q18 벽에 타일 붙이기

In [ ]:
import math

W = 200
H = 80

S_size = math.gcd(200, 80)
print("타일 한 선의 길이: {}".format(S_size))

W_count = W/S_size
H_count = H/S_size

print("필요한 타일의 개수: {}".format(int(W_count * H_count)))

타일 한 선의 길이: 40
필요한 타일의 개수: 10