# 점프 투 파이썬 실습

## 1일 문장 입력

In [150]:
head = "python"
tail = " is fun!"
head + tail

'python is fun!'

In [151]:
a = "Python"
a * 2

'PythonPython'

In [152]:
a = "life is too short"
len(a)

17

In [153]:
a = "Life is too short, you need python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [154]:
a = "20230331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year)
print(day)
print(weather)

2023
0331
Rainy

In [155]:
a = "Pithon"
a[:1]
a[2:]

'thon'

In [156]:
a[:1] + 'y' + a[2:]

'Python'

## 2일차 문자열 포매팅

### 숫자 바로 대입

In [157]:
"I eat %d apples." % 3

'I eat 3 apples.'

### 문자열 바로 대입

In [158]:
"I eat %s apples." % "five"

'I eat five apples.'

### 숫자 값을 나타내는 변수로 대입

In [159]:
number = 3
"I eat %d apples."  % number

'I eat 3 apples.'

### 2개 이상의 값 넣기

In [160]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %( number, day)

'I ate 10 apples. so I was sick for three days.'

## 문자열 포맷 코드

### 포매팅 연사자 %d 와 %를 같이 쓸 때는 %%를 쓴다

In [161]:
"Error is %d%%" % 98

'Error is 98%'

## 포맷 코드와 숫자 함께 사용하기

### 정렬과 공백

In [162]:
"%10s" % "hi"

'        hi'

In [163]:
"%-10sjane." % 'hi'

'hi        jane.'

### 소수점 표현하기

In [164]:
"%0.4f" % 3.141592

'3.1416'

In [165]:
"%10.4f" % 3.141592

'    3.1416'

## format 함수를 사용한 포매팅

### 숫자 바로 대입하기

In [166]:
"I eat {0} apples".format(3)

'I eat 3 apples'

### 문자열 바로 대입하기

In [167]:
"I eat {0} apples".format("five")

'I eat five apples'

### 숫자 값을 가진 변수로 대입하기

In [168]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

### 2개 이상의 값 넣기

In [169]:
number = 10
dat = "three"
"I ate {0} apples. so I was sick for {1} days".format(number, day)

'I ate 10 apples. so I was sick for three days'

### 이름으로 넣기

In [170]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

### 인덱스와 이름을 혼용해서 넣기

In [171]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

### 왼쪽 정렬

In [172]:
"{0:<10}".format("hi")

'hi        '

### 오른쪽 정렬

In [173]:
"{0:>10}".format("hi")

'        hi'

### 가운데 정렬

In [174]:
"{0:^10}".format("hi")

'    hi    '

### 공백 채우기

In [175]:
"{0:=^10}".format("hi")

'====hi===='

In [176]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

### 소수점 표현하기

In [177]:
y = 3.141592
"{0:0.4f}".format(y)

'3.1416'

In [178]:
"{0:10.4f}".format(y)

'    3.1416'

### {또는}문자 표현하기

In [179]:
"{{ and }}".format()

'{ and }'

## f 문자열 포매팅

In [180]:
name = '홍길동' 
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [181]:
age = 30
f'나는 내년이면 {age+1}입니다'

'나는 내년이면 31입니다'

In [182]:
d = {'name':'홍킬동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다'

'나의 이름은 홍킬동입니다. 나이는 30입니다'

In [183]:
f'{"hi":<10}'

'hi        '

In [184]:
f'{"hi":>10}'

'        hi'

In [185]:
f'{"hi":^10}'

'    hi    '

In [186]:
f'{"hi":=^10}'

'====hi===='

In [187]:
f'{"hi":!^10}'

'!!!!hi!!!!'

In [188]:
y = 3.141592
f'{y:0.4f}'

'3.1416'

In [189]:
f"{{ and }}"

'{ and }'

## 문자열 관련 함수들

### 문자 개수 세기-count

In [190]:
a = "hobby"
a.count('b')

2

### 위치 알려주기1 -find

In [191]:
a = "Python is the best choice"
a.find('b')

14

In [192]:
a.find('k')

-1

### 위치 알려주기2 -index

In [193]:
a = "Life is too short"
a.index('t')

8

In [194]:
a.index('k')
# 문자에 k가 없어서 오류발생생

ValueError: substring not found

### 문자열 삽입 -join

In [ ]:
",".join('abcd')

'a,b,c,d'

### 소문자를 대문자로 바꾸기

In [ ]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

## 리스트의 인덱싱

In [ ]:
a = [1,2,3]

In [ ]:
a

[1, 2, 3]

In [ ]:
a[0]

1

In [ ]:
a[0] + a[2]

4

In [ ]:
a[-1]

3

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [ ]:
a[0]

1

In [ ]:
a[-1]

{'a', 'b', 'c'}

In [ ]:
a[3]

{'a', 'b', 'c'}

In [ ]:
a[-1][1]

'b'

In [ ]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]

In [ ]:
a[2][2][0]

'Life'

## 리스트의 슬라이싱

In [ ]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [ ]:
a = "12345"
a[0:2]

'12'

In [ ]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]

In [ ]:
b

[1, 2]

In [ ]:
c

[3, 4, 5]

### 중첩된 리스트에서 슬라이싱 하기

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [ ]:
a[3][:2]

['a', 'b']

## 리스트 연산하기

### 리스트 더하기 [+]

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

### 리스트 반복하기

In [ ]:
a = [1, 2 ,3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 리스트 길이 구하기

In [ ]:
a = [1, 2, 3]
len(a)

3

## 리스트 수정과 삭제

### 리스트의 값 수정하기

In [ ]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

### DEL 함수를 사용해 리스트 요소 삭제하기

In [ ]:
a = [1, 2 , 4]
del a[1]
a

[1, 4]

In [ ]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

## 리스트 관련 함수

### 리스트에 요소 추가하기 -append

In [ ]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [ ]:
a.append({5, 6})
a

[1, 2, 3, 4, {5, 6}]

### 리스트에 정렬 -sort

In [ ]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [ ]:
a = ['a', 'b', 'c']
a.sort()
a

['a', 'b', 'c']

### 리스트 뒤집기 -reverse

In [ ]:
a = ['a', 'b', 'c']
a.reverse()
a

['c', 'b', 'a']

### 인덱스 변환 -index

In [ ]:
a = [1, 2, 3]
a.index(3)

2

In [ ]:
a.index(1)

0

### 리스트에 요소 삽입 - insert

In [ ]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [ ]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

### 리스트 요소 제거 -remove

In [ ]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [ ]:
a.remove(3)
a

[1, 2, 1, 2]

### 리스트 요소 끄집어 내기 -pop

In [ ]:
a = [1, 2, 3]
a.pop()

3

In [ ]:
a

[1, 2]

In [ ]:
a = [1, 2, 3]
a.pop(1)

2

In [ ]:
a

[1, 3]

### 리스트에 포함된 요소 x의 개수 세기 -count

In [ ]:
a = [1, 2, 3, 1]
a.count(1)

2

### 리스트에 확장 -extend

In [ ]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

## 딕셔너리 쌍 추가, 삭제하기

### 딕셔너리 쌍 추가하기

In [ ]:
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [ ]:
a ['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [ ]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 딕서너리 요소 삭제하기기

In [ ]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 딕셔너리 사용 방법

#### 딕서너리 key 사용해서 value 얻기

In [ ]:
grade = {'pey': 10, 'julliet': 99}
grade['pey']

10

In [ ]:
grade['julliet']

99

In [ ]:
a = {1: 'a', 2: 'b'}
a[1]

'a'

In [ ]:
a[2]

'b'

In [ ]:
a = {'a': 1,'b': 2}
a[ 'a' ]

1

In [ ]:
a ['b']

2

In [ ]:
dic = {'name':'pey', 'phone':'010-9999-1234','birth': '1118'}
dic['name']

'pey'

In [ ]:
dic['phone']

'010-9999-1234'

In [ ]:
dic['birth']

'1118'

### 딕셔너리 관련 함수

#### key 리스트 만들기 -keys

In [195]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [200]:
list(a.keys())

['name', 'phone', 'birth']

In [201]:
a.values()

dict_values(['pey', '010-9999-1234', '1118'])

In [203]:
a.items()

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [204]:
a.clear()
a

{}

In [205]:
a = {'name': 'pey', 'phone':'010-9999-1234', 'birth': '1118'}
a.get('name')
a.get('phone')

'010-9999-1234'

In [206]:
'name' in a

True

## 집합 자료형

### 집합 자료형 만들기

In [207]:
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [208]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [210]:
s1 = set([1, 2, 3])
l1 = list(s1)
l1
t1 = tuple(s1)
t1

(1, 2, 3)

### 교집합, 합집합, 차집합 구하기

In [212]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

#### 교집합 구하기기

In [ ]:
s1 & s2

#s1.intersection(s2)

{4, 5, 6}

### 합집합 구하기

In [ ]:
s1 | s2

#s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 차집합 구하기기

In [ ]:
s1 - s2

#s1.difference(s2)

{1, 2, 3}

In [ ]:
s2 - s1

#s2.difference(s1)

{7, 8, 9}

## 집합 자료형 관련 함수

### 값 1개 추가하기 -add

In [219]:
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

### 값 여러개 추가하기 -update

In [220]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

### 특정 값 제거하기 - remove

In [222]:
s1 = set ([1, 2, 3])
s1.remove(2)
s1

{1, 3}

## 불자료형

### 불자료형 만들기

In [223]:
a = True
b = False

In [225]:
type(a)

bool

In [226]:
type(b)

bool

In [227]:
1 == 1

True

In [228]:
2 > 1

True

In [229]:
2 < 1

False

In [230]:
a = [1, 2, 3, 4]
while a:
    print(a.pop())

4
3
2
1

In [231]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [232]:
if [1, 2, 3]:
    print("참")
else:
    print("거짓")

참

## 되새김문제

#### 평균 점수 구하기

In [ ]:
a = 80 
b = 75
c = 55
P = ( a + b +c )/ 3
print(P)

70.0

### 홀수,짝수 판별하기

In [ ]:
13 % 2

1

### 주민등록 번호 나누기

In [ ]:
pin = "881120-1068234"
yymmdd = pin[:6]
num = pin[7:]
print(yymmdd)
print(num)

881120
1068234

### 주민등록번호 인덱싱

In [ ]:
pin = "881120-1068234"
print(pin[7])

1

### 문자열 바꾸기

In [ ]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

### 리스트 역순 정렬하기

In [ ]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

### 리스트를 문자열로 만들기

In [ ]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

### 듀플 더하기

In [ ]:
a = (1, 2, 3)
a = a + (4, )
print(a)

(1, 2, 3, 4)

### 딕셔너리 값 추출하기

In [ ]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

### 리스트에서 중복 제거하기

In [ ]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = set(a)
print(b)

{1, 2, 3, 4, 5}

In [ ]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]