# 점프 투 파이썬 실습

## 1일 문장 입력

In [318]:
head = "python"
tail = " is fun!"
head + tail

'python is fun!'

In [319]:
a = "Python"
a * 2

'PythonPython'

In [320]:
a = "life is too short"
len(a)

17

In [321]:
a = "Life is too short, you need python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [322]:
a = "20230331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
print(year)
print(day)
print(weather)

2023
0331
Rainy

In [323]:
a = "Pithon"
a[:1]
a[2:]

'thon'

In [324]:
a[:1] + 'y' + a[2:]

'Python'

## 2일차 문자열 포매팅

### 숫자 바로 대입

In [325]:
"I eat %d apples." % 3

'I eat 3 apples.'

### 문자열 바로 대입

In [326]:
"I eat %s apples." % "five"

'I eat five apples.'

### 숫자 값을 나타내는 변수로 대입

In [327]:
number = 3
"I eat %d apples."  % number

'I eat 3 apples.'

### 2개 이상의 값 넣기

In [328]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %( number, day)

'I ate 10 apples. so I was sick for three days.'

## 문자열 포맷 코드

### 포매팅 연사자 %d 와 %를 같이 쓸 때는 %%를 쓴다

In [329]:
"Error is %d%%" % 98

'Error is 98%'

## 포맷 코드와 숫자 함께 사용하기

### 정렬과 공백

In [330]:
"%10s" % "hi"

'        hi'

In [331]:
"%-10sjane." % 'hi'

'hi        jane.'

### 소수점 표현하기

In [332]:
"%0.4f" % 3.141592

'3.1416'

In [333]:
"%10.4f" % 3.141592

'    3.1416'

## format 함수를 사용한 포매팅

### 숫자 바로 대입하기

In [334]:
"I eat {0} apples".format(3)

'I eat 3 apples'

### 문자열 바로 대입하기

In [335]:
"I eat {0} apples".format("five")

'I eat five apples'

### 숫자 값을 가진 변수로 대입하기

In [336]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

### 2개 이상의 값 넣기

In [337]:
number = 10
dat = "three"
"I ate {0} apples. so I was sick for {1} days".format(number, day)

'I ate 10 apples. so I was sick for three days'

### 이름으로 넣기

In [338]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

### 인덱스와 이름을 혼용해서 넣기

In [339]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

### 왼쪽 정렬

In [340]:
"{0:<10}".format("hi")

'hi        '

### 오른쪽 정렬

In [341]:
"{0:>10}".format("hi")

'        hi'

### 가운데 정렬

In [342]:
"{0:^10}".format("hi")

'    hi    '

### 공백 채우기

In [343]:
"{0:=^10}".format("hi")

'====hi===='

In [344]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

### 소수점 표현하기

In [345]:
y = 3.141592
"{0:0.4f}".format(y)

'3.1416'

In [346]:
"{0:10.4f}".format(y)

'    3.1416'

### {또는}문자 표현하기

In [347]:
"{{ and }}".format()

'{ and }'

## f 문자열 포매팅

In [348]:
name = '홍길동' 
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [349]:
age = 30
f'나는 내년이면 {age+1}입니다'

'나는 내년이면 31입니다'

In [350]:
d = {'name':'홍킬동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다'

'나의 이름은 홍킬동입니다. 나이는 30입니다'

In [351]:
f'{"hi":<10}'

'hi        '

In [352]:
f'{"hi":>10}'

'        hi'

In [353]:
f'{"hi":^10}'

'    hi    '

In [354]:
f'{"hi":=^10}'

'====hi===='

In [355]:
f'{"hi":!^10}'

'!!!!hi!!!!'

In [356]:
y = 3.141592
f'{y:0.4f}'

'3.1416'

In [357]:
f"{{ and }}"

'{ and }'

## 문자열 관련 함수들

### 문자 개수 세기-count

In [358]:
a = "hobby"
a.count('b')

2

### 위치 알려주기1 -find

In [359]:
a = "Python is the best choice"
a.find('b')

14

In [360]:
a.find('k')

-1

### 위치 알려주기2 -index

In [361]:
a = "Life is too short"
a.index('t')

8

In [362]:
a.index('k')
# 문자에 k가 없어서 오류발생생

ValueError: substring not found

### 문자열 삽입 -join

In [ ]:
",".join('abcd')

'a,b,c,d'

### 소문자를 대문자로 바꾸기

In [ ]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

## 리스트의 인덱싱

In [ ]:
a = [1,2,3]

In [ ]:
a

[1, 2, 3]

In [ ]:
a[0]

1

In [ ]:
a[0] + a[2]

4

In [ ]:
a[-1]

3

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [ ]:
a[0]

1

In [ ]:
a[-1]

{'a', 'b', 'c'}

In [ ]:
a[3]

{'a', 'b', 'c'}

In [ ]:
a[-1][1]

'b'

In [ ]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]

In [ ]:
a[2][2][0]

'Life'

## 리스트의 슬라이싱

In [ ]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [ ]:
a = "12345"
a[0:2]

'12'

In [ ]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]

In [ ]:
b

[1, 2]

In [ ]:
c

[3, 4, 5]

### 중첩된 리스트에서 슬라이싱 하기

In [ ]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [ ]:
a[3][:2]

['a', 'b']

## 리스트 연산하기

### 리스트 더하기 [+]

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

### 리스트 반복하기

In [ ]:
a = [1, 2 ,3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 리스트 길이 구하기

In [ ]:
a = [1, 2, 3]
len(a)

3

## 리스트 수정과 삭제

### 리스트의 값 수정하기

In [ ]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

### DEL 함수를 사용해 리스트 요소 삭제하기

In [ ]:
a = [1, 2 , 4]
del a[1]
a

[1, 4]

In [ ]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

## 리스트 관련 함수

### 리스트에 요소 추가하기 -append

In [ ]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [ ]:
a.append({5, 6})
a

[1, 2, 3, 4, {5, 6}]

### 리스트에 정렬 -sort

In [ ]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [ ]:
a = ['a', 'b', 'c']
a.sort()
a

['a', 'b', 'c']

### 리스트 뒤집기 -reverse

In [ ]:
a = ['a', 'b', 'c']
a.reverse()
a

['c', 'b', 'a']

### 인덱스 변환 -index

In [ ]:
a = [1, 2, 3]
a.index(3)

2

In [ ]:
a.index(1)

0

### 리스트에 요소 삽입 - insert

In [ ]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [ ]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

### 리스트 요소 제거 -remove

In [ ]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [ ]:
a.remove(3)
a

[1, 2, 1, 2]

### 리스트 요소 끄집어 내기 -pop

In [ ]:
a = [1, 2, 3]
a.pop()

3

In [ ]:
a

[1, 2]

In [ ]:
a = [1, 2, 3]
a.pop(1)

2

In [ ]:
a

[1, 3]

### 리스트에 포함된 요소 x의 개수 세기 -count

In [ ]:
a = [1, 2, 3, 1]
a.count(1)

2

### 리스트에 확장 -extend

In [ ]:
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

## 딕셔너리 쌍 추가, 삭제하기

### 딕셔너리 쌍 추가하기

In [ ]:
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [ ]:
a ['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [ ]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 딕서너리 요소 삭제하기기

In [ ]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

### 딕셔너리 사용 방법

#### 딕서너리 key 사용해서 value 얻기

In [ ]:
grade = {'pey': 10, 'julliet': 99}
grade['pey']

10

In [ ]:
grade['julliet']

99

In [ ]:
a = {1: 'a', 2: 'b'}
a[1]

'a'

In [ ]:
a[2]

'b'

In [ ]:
a = {'a': 1,'b': 2}
a[ 'a' ]

1

In [ ]:
a ['b']

2

In [ ]:
dic = {'name':'pey', 'phone':'010-9999-1234','birth': '1118'}
dic['name']

'pey'

In [ ]:
dic['phone']

'010-9999-1234'

In [ ]:
dic['birth']

'1118'

### 딕셔너리 관련 함수

#### key 리스트 만들기 -keys

In [ ]:
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [ ]:
list(a.keys())

['name', 'phone', 'birth']

In [ ]:
a.values()

dict_values(['pey', '010-9999-1234', '1118'])

In [ ]:
a.items()

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [ ]:
a.clear()
a

{}

In [ ]:
a = {'name': 'pey', 'phone':'010-9999-1234', 'birth': '1118'}
a.get('name')
a.get('phone')

'010-9999-1234'

In [ ]:
'name' in a

True

## 집합 자료형

### 집합 자료형 만들기

In [ ]:
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [ ]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [ ]:
s1 = set([1, 2, 3])
l1 = list(s1)
l1
t1 = tuple(s1)
t1

(1, 2, 3)

### 교집합, 합집합, 차집합 구하기

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

#### 교집합 구하기기

In [ ]:
s1 & s2

#s1.intersection(s2)

{4, 5, 6}

### 합집합 구하기

In [ ]:
s1 | s2

#s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 차집합 구하기기

In [ ]:
s1 - s2

#s1.difference(s2)

{1, 2, 3}

In [ ]:
s2 - s1

#s2.difference(s1)

{7, 8, 9}

## 집합 자료형 관련 함수

### 값 1개 추가하기 -add

In [ ]:
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

### 값 여러개 추가하기 -update

In [ ]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

### 특정 값 제거하기 - remove

In [ ]:
s1 = set ([1, 2, 3])
s1.remove(2)
s1

{1, 3}

## 불자료형

### 불자료형 만들기

In [ ]:
a = True
b = False

In [ ]:
type(a)

bool

In [ ]:
type(b)

bool

In [ ]:
1 == 1

True

In [ ]:
2 > 1

True

In [ ]:
2 < 1

False

In [ ]:
a = [1, 2, 3, 4]
while a:
    print(a.pop())

4
3
2
1

In [ ]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [ ]:
if [1, 2, 3]:
    print("참")
else:
    print("거짓")

참

## 되새김문제

#### 평균 점수 구하기

In [ ]:
a = 80 
b = 75
c = 55
P = ( a + b +c )/ 3
print(P)

70.0

### 홀수,짝수 판별하기

In [ ]:
13 % 2

1

### 주민등록 번호 나누기

In [ ]:
pin = "881120-1068234"
yymmdd = pin[:6]
num = pin[7:]
print(yymmdd)
print(num)

881120
1068234

### 주민등록번호 인덱싱

In [ ]:
pin = "881120-1068234"
print(pin[7])

1

### 문자열 바꾸기

In [ ]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

### 리스트 역순 정렬하기

In [ ]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

### 리스트를 문자열로 만들기

In [ ]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

### 듀플 더하기

In [ ]:
a = (1, 2, 3)
a = a + (4, )
print(a)

(1, 2, 3, 4)

### 딕셔너리 값 추출하기

In [ ]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

### 리스트에서 중복 제거하기

In [ ]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = set(a)
print(b)

{1, 2, 3, 4, 5}

In [ ]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

## if 문

### 조건문

In [ ]:
money = 2000
if money >= 3000:
    print("택시타고 가라")
else:
    print("걸어가라")

걸어가라

### and, or ,not

In [ ]:
money = 2000
card = True
if money >= 3000 or card:
    print("택시 타고 가라")
else:
    print("걸어가라")

택시 타고 가라

### in, not in

In [ ]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print("택시 타고 가라")
else:
    print("걸어가라")

택시 타고 가라

In [ ]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
    pass
else:
    print("카드를 꺼내라")

### 다양한 조건을 판단하는 elif

In [ ]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print("택시를 타고 가라")
else:
    if card:
        print("택시를 타고가라")
    else:
        print("걸어가라")

택시를 타고가라

In [ ]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print("택시를 타고 가라")
elif card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

### 조건부 표현식

In [ ]:
num = 70
if score >= 60:
    messege = "success"
else:
    message = "failure"

## while 문

In [ ]:
treeHit = 0
while treeHit <10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무가 넘어갑니다")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다

### while 문 강제로 빠져나가기

In [ ]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다")
    coffee = coffee -1
    print("남은 커피의 양은 %d개 입니다" % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다.판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다
남은 커피의 양은 9개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 8개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 7개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 6개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 5개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 4개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 3개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 2개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 1개 입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 0개 입니다
커피가 다 떨어졌습니다.판매를 중지합니다.

In [ ]:
coffee = 10
while True:
    money = int(input("돈을 넣어 주세여: "))
    if money == 300:
        print("커피를 줍니다")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다")
        print("남은 커피의 양은 %d개입니다" % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 다시 돌려주고 커피를 주지 않습니다
남은 커피의 양은 10개입니다
커피를 줍니다
돈을 다시 돌려주고 커피를 주지 않습니다
남은 커피의 양은 9개입니다
돈을 다시 돌려주고 커피를 주지 않습니다
남은 커피의 양은 9개입니다
돈을 다시 돌려주고 커피를 주지 않습니다
남은 커피의 양은 9개입니다
돈을 다시 돌려주고 커피를 주지 않습니다
남은 커피의 양은 9개입니다
돈을 다시 돌려주고 커피를 주지 않습니다
남은 커피의 양은 9개입니다
거스름돈 200를 주고 커피를 줍니다.
거스름돈 200를 주고 커피를 줍니다.
거스름돈 100를 주고 커피를 줍니다.
커피를 줍니다
커피를 줍니다
커피를 줍니다
거스름돈 30를 주고 커피를 줍니다.

ValueError: invalid literal for int() with base 10: ''

### while 문의 맨처음으로 돌아가기

In [ ]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

## for 문

In [ ]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

### 다양한 for 문의 사용

In [ ]:
a = [(1, 2), (3, 4),(5, 6)]
for (first, last) in a:
    print(first + last)

3
7
11

### for 문의 응용

In [ ]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다" % number)
    else:
        print("%d번 학생은 불합격입니다"% number)

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 불합격입니다
5번 학생은 합격입니다

In [ ]:
arks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number + 1
    if mark < 60: continue
    print ("%d번 학생 축하합니다. 합격입니다" % number)

1번 학생 축하합니다. 합격입니다
3번 학생 축하합니다. 합격입니다
5번 학생 축하합니다. 합격입니다

### range함수의 예시 살펴보기

In [ ]:
add = 0
for i in range(1, 11):
    add = add + i 

print(add)

55

In [ ]:
# range(len(marks))
marks = [90 , 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number + 1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

### for 와 range를 이용한 구구단

In [ ]:
for i in range(2, 10):
    for j in range(1, 10):
         print(i*j, end=" ")
    print(' ')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

### 리스트 컴프리헨션 사용하기

In [ ]:
a = [1, 2, 3, 4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [ ]:
a = [1, 2, 3, 4]
result = [num*3 for num in a if num%2 ==0]
print(result)

[6, 12]

In [ ]:
result = [x*y for x in range (2, 10)
          for y in range(1, 10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 되새김 문제

### 조건문의 참과 거짓

In [ ]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt"not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

### 3의 배수의 합 구하기

In [ ]:
result = 0 
i = 1
while i <= 1000:
    if i%3 == 0:
        result += i
    i += 1
print(result)

166833

### 별 표시하기

In [ ]:
i = 0
while True:
    i += 1
    if i>5 :break
    print('*'* i)

*
**
***
****
*****

### 1부터 100까지 출력하기

In [ ]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

### 평균 점수 구하기

In [ ]:
A = [70, 90, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score
average = total/ len(A)
print(average)

82.0

### 리스트 컴프리헨션 사용하기

In [ ]:
#numbers = [1, 2, 3, 4, 5]
#result = []
#for n in numbers:
#    if n % 2 == 1:
#        result.append(n * 2)

numbers = [1, 2, 3, 4, 5]
result =[n*2 for n in numbers if n%2 == 1] 
print(result)

[2, 6, 10]

# 2일차 마무리!!!!